@import url(https://fonts.googleapis.com/css?family=Dosis);

#cheatsheet
{
        height: auto;
        width: auto;
        margin-left: 50px;
}


#header1
{
        background-color: #FF6600;
        height: auto;
        width: auto;
        border: 2px solid #ff6600;
        border-radius: 50px 0 0 50px;

}

#navbar li
{
        height: auto;
        width: auto;

}

#menu, #menu ul
{
        margin-top : -51.5;
        list-style : none;
        line-height : 21px;
        text-align : center;
        height: auto;
        width: auto;
}

#menu
{
        background-color: none;
        font-weight : bold;
        font-family : 'Dosis', sans-serif;
        font-size : 1em;
        height: 5px;
        width: auto;
        margin:20px;
}

#menu a
{
        font-family: 'Dosis', sans-serif;
        display : block;
        background : none;
        color : black;
        text-decoration : none;
        width : 100px;
        margin-top: -20px;
}

#menu li
{
        float : left;
        border-right : 1px solid none;
        height: auto;
        width: auto;
}

a:focus
{
  outline: 0;
}

html>body #menu li
{
        border-right: 1px solid transparent ;
        width: auto;
        height: auto;
}

#searchbar
{
        background-color: none;
        font-size: 13px;
        position:relative;
        width:auto;
        height:auto;
        display:inline-block;
        float: right;
}

#searchbar.text
{
        width:auto;
        height: auto;

}

#searchbar.champ
{
        width:auto;
        height:auto;

}

#searchbar.bouton

{
        width: 35px;
        height: 35px;
        padding: 0;
        border:none;

}

#article1
{
        font-family: 'Dosis', sans-serif;
        width: auto;
        height: auto;
        border-radius: 50px 0 0 50px ;
        background-color: #ff6600;
}

.menu .haut:hover div{
     left:auto;opacity:1;width:auto;
     transition:1s left,1s width,1s opacity;
}
.menu .haut div{
     left:auto;opacity:0;width:auto;
     transition:1s left,1s width,1s opacity;
}
.menu .haut:hover{
        list-style : none;
     width:auto;
}

.menu .haut a:hover{
    list-style : none;
}

.menu a {
    list-style : none;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: black;
    font-weight: bold;
}

.menu h3 {
  font-family: 'Dosis', sans-serif;
  color: black;
}

section
{
        width: 1300px;
        margin: auto;
}



.carte
{
      border: 2px solid grey;
      border-top: 1px solid grey;
      border-bottom: 9px solid grey;
      display: inline-block;
      border-right: 7px solid grey;
      margin: auto;
      border-radius: 20px 20px 0px 8px;
      height: 250px;
      width: auto;
}

.titre
{
      border-top: 1px solid #FF6600;
      border-radius: 0px 20px;
      border-bottom: 5px solid #FF6600;
      border-radius: 0 0 30px 30px;
      text-align: center;
      background-color: #FF6600;
}

.image

{
      border-top: 2px solid grey;
      border-radius: 20px 20px;
      border-bottom: 2px solid grey;
}

.carte .titre
{
      background-color: #FF6600;
      border-radius: 18px 10px 0px 0px;
      border-bottom: 5px solid #e55b00;
      border-right: 5px solid #e55b00;
}

.image img
{
      margin-top: 35px;
      border: ;
}

h2
{
    font-family: courier;
  font-weight: bold;
}
h4
{
  font-family: courier;
}
p
{
  font-family: 'Dosis', sans-serif;
  background-color: #d2d2d2;
  padding: 16px;
  border-radius: 10px 10px 10px 10px;
}

footer
{
    width: auto;
    margin: auto;
    height: 200px;
    background-color: #FF6600;
    border-radius: 20px 0px 20px 20px;
}

footer .info
{
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 30px;
}

.info img
{
        border: 2px solid #FF6600;
        border-radius: 3px 3px 3px 3px;
        filter: sepia(1);
        -webkit-filter: sepia(1);
        -moz-filter: sepia(1);
        -o-filter: sepia(1);
        cursor: pointer;
        -ms-filter: sepia(1);
        margin-top: 60px;
        float: right;
        display: inline-block;
        margin-left: 20px;
}
.info img:hover
{
        filter: sepia(0);
        -webkit-filter: sepia(0);
        -moz-filter: sepia(0);
        -o-filter: sepia(0);
        -ms-filter: sepia(0);
}

#copyright
{
      margin-bottom : 10px;
      font-size: 12px;
      font-weight: bold;
      font-family: 'Dosis', sans-serif;
      padding-top: 180px;


}
